CONTACT_SERVICE_PORT=3007
CONTACT_SERVICE_STORAGE=mysql
CONTACT_SERVICE_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CONTACT_SERVICE_DB_HOST=localhost
CONTACT_SERVICE_DB_PORT=3306
CONTACT_SERVICE_DB_NAME=CONIITI_CONTACT
CONTACT_SERVICE_DB_USER=root
CONTACT_SERVICE_DB_PASSWORD=coniti