PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=CONITI
DB_USER=root
DB_PASSWORD=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion
EMAIL_FROM="CONITI <tu_correo@gmail.com>"