FECHAS_SERVICE_PORT=3006
FECHAS_SERVICE_STORAGE=mysql
FECHAS_SERVICE_JWT_SECRET=coniiti-auth-service-secret
FECHAS_SERVICE_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FECHAS_SERVICE_DB_HOST=localhost
FECHAS_SERVICE_DB_PORT=3306
FECHAS_SERVICE_DB_NAME=CONIITI_FECHAS
FECHAS_SERVICE_DB_USER=root
FECHAS_SERVICE_DB_PASSWORD=
