CONFERENCISTAS_SERVICE_PORT=3005
CONFERENCISTAS_SERVICE_STORAGE=mysql
CONFERENCISTAS_SERVICE_DB_HOST=localhost
CONFERENCISTAS_SERVICE_DB_PORT=3306
CONFERENCISTAS_SERVICE_DB_NAME=CONITI_CONFERENCISTAS
CONFERENCISTAS_SERVICE_DB_USER=root
CONFERENCISTAS_SERVICE_DB_PASSWORD=
